# OLTP Querying Lab

### Introduction

In this lesson, we'll practice querying using query relations on our pagila database.  Let's get started.

### Loading our Data

To work through this, and following material we'll refer to the pagila database located in the following repository: [pagila data](https://github.com/devrimgunduz/pagila).

To create the database, we can do the following:

1. Clone down the [pagila data](https://github.com/xzilla/pagila) repository
2. Create a new database in postgres (perhaps called `pagila`)
3. Run the `pagila-schema.sql` file against the database to create the necessary tables
4. Run the `pagila-data.sql` file against the database to insert the necessary data

Next, we write a function that returns a connection to the database, as well as the cursor.

> Make sure that the name of the database aligns with the database you created, and that the `user` and `password` is appropriate.

In [15]:
import psycopg2

def get_cursor():
    conn = psycopg2.connect(
    database="pagila",
    user="postgres",
    password="postgres")
    cursor = conn.cursor()
    return conn, cursor

In [10]:
conn, cursor = get_cursor()

And then we can confirm that we can connect to the database by doing an initial query.

In [13]:
cursor.execute('SELECT * FROM store LIMIT 1;')

### Seeing the model

At this point, it's worth getting a sense of the relationships in our OLTP.  We can begin by taking a look at the various tables.

<img src="./tables.png" width="60%">

And from there, can identify the tables that have a number of foreign keys -- called our join tables.  Let's take some educated guesses as to which tables may be our join tables.

Before even checking for yourself, identify three tables above that mainly consist of foreign keys.

### Performing Queries

Ok, now let's perform some queries.  First, we'll connect to our database.

In [12]:
import psycopg2
def get_cursor():
    conn = psycopg2.connect(
    host="127.0.0.1",
    database="pagila",
    user="postgres",
    password="postgres")
    
    cursor = conn.cursor()
    return conn, cursor

In [26]:
conn, cursor = get_cursor()

Now for our first query.  Let's find the title of every film that `JUDY DEAN` played in.  Limit it to five films.

In [22]:
query = """ """
cursor.execute(query)
cursor.fetchall()

# [('ALADDIN CALENDAR',),
#  ('ARACHNOPHOBIA ROLLERCOASTER',),
#  ('BALLROOM MOCKINGBIRD',),
#  ('CYCLONE FAMILY',),
#  ('DROP WATERFRONT',)]

[('ALADDIN CALENDAR',),
 ('ARACHNOPHOBIA ROLLERCOASTER',),
 ('BALLROOM MOCKINGBIRD',),
 ('CYCLONE FAMILY',),
 ('DROP WATERFRONT',)]

Next, let's find the titles of all of the `Action` films.

> Limit to the first five films.

In [29]:
query = """ """

cursor.execute(query)
cursor.fetchall()
# [('ACADEMY DINOSAUR',),
#  ('ACE GOLDFINGER',),
#  ('ADAPTATION HOLES',),
#  ('AFFAIR PREJUDICE',),
#  ('AFRICAN EGG',)]

[('ACADEMY DINOSAUR',),
 ('ACE GOLDFINGER',),
 ('ADAPTATION HOLES',),
 ('AFFAIR PREJUDICE',),
 ('AFRICAN EGG',)]

Let's finish up by looking at some transactions.  Find the titles of all of the films that `PATRICIA JOHNSON` rented.

> Limit to the first five titles.

In [31]:
query = """

"""

cursor.execute(query)
cursor.fetchall()

# [('DOORS PRESIDENT',),
#  ('BLACKOUT PRIVATE',),
#  ('TOMORROW HUSTLER',),
#  ('MUMMY CREATURES',),
#  ('CLUELESS BUCKET',)]

[('DOORS PRESIDENT',),
 ('BLACKOUT PRIVATE',),
 ('TOMORROW HUSTLER',),
 ('MUMMY CREATURES',),
 ('CLUELESS BUCKET',)]

### Summary

In this lesson, we practiced queries on our OLTP database.  The key is to identify the tables that have foreign keys, as they will be key in performing our queries.  Here, the main tables to pay attention to were the tables `film_actor`, `film_category`,`inventory`, and most importantly `rental`.