# OLTP Querying Lab

### Introduction

In this lesson, we'll practice querying using query relations on our pagila database.  Let's get started.

### Seeing the model

At this point, it's worth getting a sense of the relationships in our OLTP.  We can begin by taking a look at the various tables.

<img src="./tables.png" width="60%">

And from there, can identify the tables that have a number of foreign keys -- called our join tables.  Let's take some educated guesses as to which tables may be our join tables.

Before even checking for yourself, identify three tables above that mainly consist of foreign keys.

### Performing Queries

Ok, now let's perform some queries.  First, we'll connect to our database.

In [12]:
import psycopg2
def get_cursor():
    conn = psycopg2.connect(
    host="127.0.0.1",
    database="pagila",
    user="postgres",
    password="postgres")
    
    cursor = conn.cursor()
    return conn, cursor

In [26]:
conn, cursor = get_cursor()

Now for our first query.  Let's find the title of every film that `JUDY DEAN` played in.  Limit it to five films.

In [22]:
query = """SELECT film.title FROM actor 
JOIN film_actor ON actor.actor_id = film_actor.actor_id
JOIN film on film.film_id = film_actor.film_id
WHERE first_name = 'JUDY' AND last_name = 'DEAN' ORDER BY film.title LIMIT 5;"""
cursor.execute(query)
cursor.fetchall()

# [('ALADDIN CALENDAR',),
#  ('ARACHNOPHOBIA ROLLERCOASTER',),
#  ('BALLROOM MOCKINGBIRD',),
#  ('CYCLONE FAMILY',),
#  ('DROP WATERFRONT',)]

[('ALADDIN CALENDAR',),
 ('ARACHNOPHOBIA ROLLERCOASTER',),
 ('BALLROOM MOCKINGBIRD',),
 ('CYCLONE FAMILY',),
 ('DROP WATERFRONT',)]

Next, let's find the titles of all of the `Action` films in alphabetical order.

> Limit to the first five films.

In [29]:
query = """SELECT film.title FROM film 
JOIN film_category on film_category.film_id = film.film_id
JOIN category on category.category_id = film_category.category_id
LIMIT 5;"""

cursor.execute(query)
cursor.fetchall()
# [('ACADEMY DINOSAUR',),
#  ('ACE GOLDFINGER',),
#  ('ADAPTATION HOLES',),
#  ('AFFAIR PREJUDICE',),
#  ('AFRICAN EGG',)]

[('ACADEMY DINOSAUR',),
 ('ACE GOLDFINGER',),
 ('ADAPTATION HOLES',),
 ('AFFAIR PREJUDICE',),
 ('AFRICAN EGG',)]

Let's finish up by looking at some transactions.  Find the titles of all of the films that `PATRICIA JOHNSON` rented.

> Limit to the first five titles.

In [31]:
query = """
SELECT film.title FROM film 
JOIN inventory ON film.film_id = inventory.film_id
JOIN rental ON rental.inventory_id = inventory.inventory_id
JOIN customer ON rental.customer_id = customer.customer_id
WHERE customer.first_name = 'PATRICIA' AND customer.last_name = 'JOHNSON'
LIMIT 5;
"""

cursor.execute(query)
cursor.fetchall()

# [('DOORS PRESIDENT',),
#  ('BLACKOUT PRIVATE',),
#  ('TOMORROW HUSTLER',),
#  ('MUMMY CREATURES',),
#  ('CLUELESS BUCKET',)]

[('DOORS PRESIDENT',),
 ('BLACKOUT PRIVATE',),
 ('TOMORROW HUSTLER',),
 ('MUMMY CREATURES',),
 ('CLUELESS BUCKET',)]

### Summary

In this lesson, we practiced queries on our OLTP database.  The key is to identify the tables that have foreign keys, as they will be key in performing our queries.  Here, the main tables to pay attention to were the tables `film_actor`, `film_category`,`inventory`, and most importantly `rental`.